  </main>
    </div>
    <script>
      // Don't register the service worker // until the page has fully loaded if
      ('serviceWorker' in navigator) {
        window.addEventListener("load",
          function () {
            navigator.serviceWorker.register('/sw.js')
              .then(function (registration) { return registration.update(); })
          });
      }

    </script>
    <script crossorigin="anonymous" type="module" src="{{resolve-from-root 'src/client/client.js'}}"></script>
    <!-- if development -->
    <script type="module" crossorigin="anonymous" src="http://localhost:5173/@vite/client"></script>
    <script crossorigin="anonymous" type="module" src="http://localhost:5173/src/client/client.js"></script>
  </body>

</html>