<article class='museum-item' id='{{objectNumber}}'>
  <img class='museum-item-image' src='{{webImage.url}}' alt='' />
  <div class='item-content'>
    <a href='collection/{{objectNumber}}'>
      <h4>{{title}}</h4>
    </a>
  </div>
</article>