<article class='museum-item' id='{{data.objectNumber}}'>
  <img class='museum-item-image' src='{{data.webImage.url}}' alt='' />
  <div class='item-content'>
    <a href='collection/{{objectNumber}}'>
      <h4>{{data.title}}</h4>
    </a>
  </div>
</article>